/* ------ GERAL ------ */
textarea:focus, input:focus{
    outline: 0;
}
/* ------ /GERAL ------ */

/* ------ CABEÇALHO ------ */
#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  80px;
    z-index: 3;
    background-color: #0f0f0f;
}

#espaco{
    position: static;
    height: 80px;
}

img.header {
    position: absolute;
    top: 10px;
    left: 25px;
    width: 8%;
}
/* ------ /CABEÇALHO ------ */

/* ------ RODAPÉ ------ */
footer{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #0f0f0f;
    color: white;
}
/* ------ RODAPÉ ------ */

/* ------ INDEX ------ */
a.home:link, a.home:visited {
    background-color: #0f0f0f;
    color: white;
    padding-top: 35px;
    margin: 0;
    text-align: center; 
    text-decoration: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    top: 0;
    font-size: 20px;
    height: 40px;
    width: fit-content;
}
a.home:hover, a.home:active {
    border-bottom: 5px solid;
    border-bottom-color: turquoise;
}

/*  
          <div id="header">
            <a href="https://br.leagueoflegends.com/pt-br/" target="_blank">
                <img class="header" src="imagens/lol_logo.png" alt="Site Oficial">
            </a>
            <p align="center">
                <a class="home" href="index.html">HOME</a>
            </p>
        </div>

footer{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    background-color: #0f0f0f;
    color: white;
    padding: 0;
    margin-bottom: 0;


}*/

img.center_index {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/* ------ /INDEX ------ */

/* ------ SOBRE ------ */
/*edit
fieldset.sobre {
    background-color: rgba(0,0,0, 0.7);
    border:0;
    border-radius: 10px;
    color: white;
}*/
div.sobre{
    height: 100%;
    position: relative;
    }
div.textosobre{
    width: 70%;
    display: inline-block;
    text-align: center;
}

div.dev{
    float: right;
    width: 29%;
    margin: auto;
    display: inline-block;
    text-align: center;
}
img.icone_dev{
    width: 40%;
}
h3.dev{
    font-family: "Cambria";
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #7e633b;
    letter-spacing: 1.6;
    margin-bottom: 2px;
    margin-top: 10px;
}
img.d_dev{
    width: 70%;
}
p.sobre{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
}
fieldset.sobre{
    margin-left: 20px;
    height: auto;
    background-color: rgba(0,0,0, 0.7);
    border: 0;
    color: white;
}
.container{
    position: relative;
    width: 100%;
    margin: auto;
}
.image{
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #7e633b;
}
.container:hover .overlay{
    opacity: 1;
}
div.text{
    color: white;
    font-size: 20px;
    font-family: "Cambria";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
#text_expli{
    font-size: 15px;
}
h2.text{
    font-size: 200%;
    font-family: "Cambria"; 
}
#name_expli{
    padding-top: 40%;
    padding-bottom: 40%;
    font-size: 150%;
    font-family: "Cambria"; 
}
#expli{   
    width: 33%;
    float: left;
}
/* ------ /SOBRE ------ */

/* ------ USUÁRIO(CADASTRO E LOGIN) ------ */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 73%;
}

h1.usuario{
    font-size: 80px;
    font-family: "Cambria";
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-align: center;
}

h2.usuario{
    font-family: "Cambria";
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #7e633b;
    letter-spacing: 1.6;
}

P.usuario{
    font-family: "Cambria";
    font-weight: bold;
    color: #fff;
}

div.content{
    width: 700px;
    margin: auto;
    position: relative; 
}

input.center[type=text]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7e633b;
    font-size: 30px;
    color: #fff;
    width: 500px;
}

input.center[type=password]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7e633b;
    font-size: 30px;
    color: #fff;
    width: 500px;
}

input.center[type=email]{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #7e633b;
    font-size: 30px;
    color: #fff;
    width: 500px;
}

input.center[type=datalist]{
    display: none;
}
#divisor{
    width: 700px;
    margin: 0px auto;
    position: relative;
}

#submit_button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 20px;
    background: black;
    border-color: #7e633b;
    font-family: "Cambria";
    font-weight: 900;
    font-size: 15px;
    color: #7e633b;
    letter-spacing: 7px;
}

a.usuario:link{
    color: #e0ba82;
}

a.usuario:visited{
    color: #d48c22;
}

a.usuario:hover{
    color: #9c6719;
}

#center{
    width: 80%;
    margin: auto;
}
.img_lane{
    opacity: 0.3;
    width: 50%;
    cursor: pointer;
}
.cadastro[type=radio]:checked+img{
    opacity: 1;
}
.cadastro[type=radio]{
    display: none;
}


div.tooltip{
    display: inline;
    float: left;
}
.tooltip .tooltiptext{
    font-size: 10px;
    opacity: 0;
    transition: opacity 1s;
    visibility: hidden;
    font-family: "Cambria";
    font-weight: bold;
    color: #fff;
    width: 120px;
    background-color: #0f0f0f;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
    opacity: 1;
}
#link_cadlog{
    font-family: "Cambria";
    font-weight: bold;
    color: #fff;
}
/* ------ /USUÁRIO (CADASTRO E LOGIN) ------ */

/* ------ CONSULTA ------ */
#divpesquisa{
    border: outset 1.5px #7e633b;
    width: 98%;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}
 
#pesq{
    z-index: 1;
    float:left;
    background-color:transparent;
    padding-left:10px;
    padding-top: 5px;
    font-style:italic;
    font-size:18px;
    border:none;
    margin-bottom: 2px;
    margin-top: 10px;
    height:70%;
    width: 95%;
    color: white;
}

img.pesquisa{
    margin-top: 15px;
    margin-left: 20px;
    height: 30px;
    width: 30px;
}


#divcomunidade{
    width: 550.6px;
    margin: auto; 
}
#comunidade{
    margin-right: auto;
    margin-left: auto;
    width: 550.6px;
    height: 42px;
    
}
#consulta{
    width: 98%;
    margin: auto;
    margin-top: 0px;
}
.dados{
    font-family: "Cambria";
    font-weight: normal;
    color: #ffffff;
    width: 98%;
    
}
table{
    border-collapse: separate;
    border-spacing: 10px;
    margin: auto;
}
tr{
    background-color: #0f0f0f;
}
tr:hover{
    background-color: #1c1c1c;
}
td{
    padding-right: 125px;
    padding-bottom: 30px;
    padding-top: 30px;
    padding-left: 125px;
    text-align: left;
}
th{
    background-color: #7e633b;
    padding-right: 125px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 125px;
    text-align: center;
}
.filtro{
    width: 100%;
    border: outset 2px #7e633b;
    background-color: #0f0f0f;
    height: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#check{
    font-size:15px;
    font-family: "Cambria";
    color: grey;
    padding: 0px 20px;
    font-family: monospace;
    letter-spacing: 3px;
}
#check:hover{
    color: white;
    transition-duration: 0.3s;
    border-bottom: solid 5px white;
    border-radius: 3px;
}
input.filtro[type=radio]:checked+label{
    color: white;
    border-bottom: solid 5px white;
    border-radius: 5px;
}
.filtro[type=radio]{
    display: none;
}
/* ------ /CONSULTA ------ */

/* ------ PERFIL ------ */
div.icone_player{
    vertical-align: middle;
    display: inline;
    width: 99%;
    margin: auto;
}
img.div_player{
    margin: auto;
    width: 35%;
}
div.lane_perfil{
    display: inline;
    float: left;
    width: 49%;
    border: outset 2px #daa520;
    
}
img.lane_perfil{
    width: 10%;
    padding: 0 10%;
}
#lanehead{
    
}
#lanebody{
    
}
#main_perfil{
    border: outset 2px #daa520;
    display: inline;
    float: right;
    width: 49%;
    margin: auto;
    margin-top: 0;
}
div.perfil{
    width: 70%;
    margin: auto;
    height: auto;
}
h1.perfil{
    font-size: 70px;
    font-family: "Cambria";
    font-style: italic;
    color: #000;
    font-weight: bolder;
    letter-spacing: 6px;
    text-align: center;
}
h2.perfil{
    font-size: 30px;
    font-family: "Cambria";
    color: #000;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}
h3.perfil{
    font-size: 20px;
    font-family: "Cambria";
    color: #000;
    font-weight: 100;
    letter-spacing: 10px;
    text-align: center;
}
#ico_main{
    width: 100%;
}
#mainhead{
    padding-bottom: 0;
}
#mainbody{
    padding-top: 
}
/* ------ /PERFIL ------ */
/* ----- ALTERAÇÃO E EXCLUSÃO ----*/

.alert {
    padding: 20px;
    background-color: #47A8F5; /* blue */
    color: white;
    margin-bottom: 15px;
}   

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
/* ----- /ALTERAÇÃO E EXCLUSÃO ----*/
